<form>
  <input type="text" placeholder="Search friends..." class="span3" />
</form>
<ul class="unstyled friends-list">
<li class="media" ng-repeat="friend in friends | filter:query">
  <a class="pull-left" href="#/friends/{{friend.id}}">
    <img width="48px" ng-src="{{friend.profile_image_url}}" class="media-object" />
  </a>
  <div class="media-body">
    <a href="#/friends/{{friend.id}}"><h5 class="media-heading">{{friend.name}}</h5></a>
    <p class="desc">{{friend.description}}</p>
  </div>
<li>
</ul>
<div class="gamma-loading" ng-show="isLoading"></div>

